.demo {
    font-family: sans-serif;
    border: 3px solid #eee;
    border-radius: 2px;
    padding: 20px 30px;
    margin-top: 4em;
    margin-bottom: 40px;
    user-select: none;
    overflow-x: auto;
  }

  .demo2 {
    font-family: sans-serif;
    border: 7px solid #eee;
    border-radius: 2px;
    padding: 40px 40px;
    margin-top: 1em;
    margin-bottom: 40px;
    user-select: none;
    overflow-x: auto;
  }
