body {
    background-size: 80%;
  
   background-image: url('https://i.pinimg.com/originals/c4/b4/e6/c4b4e658549f0bff0ff1db0980d52d42.jpg');
  }
  
  h1 {
    color: red;
    text-align: center;
  }
  h2 {
    color: blue;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 16px;
    border: 2px solid powderblue;
    padding: 30px;
  }
